$blue: #00a8ff;
$red: #FDE4E4;
$border: 1px solid #eee;


$bg_headings: #f6f8fa;

$cell_left_width:120px;
$cell_top_height: 2rem;
$cell_height:3rem;
$cell_width:100px;

$days: 31;

$total_width: $days * $cell_width;
@import '../lib/flatpickr/monthSelect';
header {
  //opacity: 0.2;
}




#calendar-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
  margin-bottom: 1em;

  // Added this to improve layout for laptops with 125% scaling
  font-size: 10px;
  @media (min-width:1920px) {
    font-size: 12px;
  }

  .input-group {
    max-width:185px;

    #month_selection {
      height: 3em;
      font-size: 1em;
      cursor:pointer;
    }
  }


  .btn-group {
    border-radius:3px;
    button {
      height: 3em;
      padding: 0.375em 0.5em;

      background-color:#dddddd;
      border-color:#dddddd;
      color:#000;

      font-size: 1em;
    }

    &.active {
      > button {
        background-color:$blue;
        border-color:$blue;
        color:#FFF;
      }
    }

    &:hover {
      box-shadow: 0 0 3px $blue;
    }


    // dropdown and user buttons
    .dropdown-menu {
      padding:0.5em;
      min-width:100%;
      font-size: 0.9em;


      button {
        display: block;
        padding: 0 0.5em;
        margin: 0.25em 1%;
        width: 98%;
        height: 2.5em;

        line-height: 2.5em;
        font-weight:300;
        white-space: nowrap;


      }
      button[data-filter=true] {
        background-color:$blue;
        border-color:$blue;
        color:#FFF;
      }
    }

  }




  .calendar-header-exports {
    line-height:1.4;
  }
}


#calendar-wrapper {
  min-width: 0;
  min-height:0;
  overflow: scroll;
  width: 100%;
  height: 800px;
  box-sizing: border-box;
  border-top: $border;
  border-left: $border;
}
#calendar {
  position:relative;
  font-size: 12px;
  width:$total_width;
}

.calendar-row {
  position:relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:stretch;
  flex-wrap: nowrap;

  // top row
  &.calendar-row-dates {
    position: sticky;
    top: 0;
    background-color: $bg_headings;
    z-index: 150;

    .calendar-cell-date-day {
      position:relative;
      height: $cell_top_height;
      justify-content: space-between;

      text-align:center;

      line-height:1;

      .calendar-cell-day {
        color: rgba(0,0,0,1);
        font-size: 10px;
        line-height: 1;
        font-weight: 300;
        text-align:center;
        text-transform:uppercase;

      }

      .calendar-cell-date {
        position: relative;
        opacity: 1;
        font-size: 16px;
        line-height: 1;
        font-weight: bold;
        text-align:center;
        sup {
          font-size:10px;
        }
      }
    }
  }

  &.calendar-row-staff-class {

    background-color: #aaa;

    text-align: left !important;
    font-weight:bold;

    border-bottom: $border;


    .sticky-left {
      position:sticky;
      left: 0;
      flex-grow: 0;
    }

    .calendar-cell {
      flex-basis: 100%;
      align-items: flex-start;

      border: 0 none;
      height: auto;
      padding: 0.25em 0.5em;
      color:#FFF;
      text-align: left;

    }
  }

  .calendar-cell {
    position:relative;
    flex: 1 1 $cell_width;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;


    width: $cell_width;
    height: $cell_height;

    border-right: $border;
    border-bottom: $border;

    padding: 0.25em;
    word-break: break-word;
    text-align:center;

    font-size: 10px;
    line-height: 1em;
    font-weight: 400;

    p {
      margin: 0;
      padding: 0.25em;
      //border-bottom: 1px solid rgba(0,0,0,0.2);
      &:last-of-type {
        border:0 none;
      }
    };

    a {
      color: #000;
      &:hover {
        text-decoration:underline;
      }
    }


    &.today {
      background-color: #DFFFA5;
    }

    &.public_holiday {
      background-color: $red;
    }
    &.marked_as_leave {
      background-color: $red;
    }
    &.non-working-day {
      background-color:#f6f8fa !important;
      color: rgba(0,0,0,0.75) !important;;
      a {
        color: rgba(0,0,0,0.75) !important;;
      }
    }

    .calendar-cell-inner {
      width:100%;
      max-height: 100%;
      overflow: hidden;
      background-color: inherit;
      transition: max-height .2s linear;
    }

    &.expand {
      padding: 0;

      .calendar-cell-inner {
        padding: 0.25em;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        //box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
        a {

        }
        &:hover {
          position:absolute;
          width:150%;
          max-height: 300%;
          padding: 0.25em;
          overflow: auto ;
          z-index: 150;
          overflow-y: hidden;

          background-color:#FFFFFF;
          box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
        }

      }
    }
  }

  // left heading
  .calendar-cell-staff-names {
    position: sticky;
    left: 0;
    z-index: 99;
    background-color:$bg_headings;

    justify-content: space-between;
    align-items: flex-start;

    width: $cell_left_width;
    height: $cell_height;

    font-size: 1em;
    text-align: left !important;

    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  &:not(.calendar-row-staff-class) .calendar-cell:hover {
    background-color: #BEE4FF;
  }


  // overwrite the top row sticky top
  &:first-of-type {
    .calendar-cell-date-day {
      top: 0;
      left: auto;
    }
  }

  .calendar-cell-date-day:first-of-type {
    position: sticky;
    top:0;
    left: 0;
    z-index: 99;
    background-color:#FFF;
    padding:0;
    input {
      padding-left: 0.5em;
      border: 0 none;
      width:100%;
      height:100%;
    }
  }
}

.calendar-cell-firstname {
  font-size: 12px;
  font-weight:700;
}
.calendar-cell-lastname {
  font-size: 12px;
}
.calendar-cell-working-days {
  color: #aaa;
  font-size: 0.75em;
  text-align: center;
}

#fancybox-export-csv {
  display:none;
  width:400px;

  .fancybox-export-csv-row {
    display:flex;
    justify-content: space-between;
    align-items: center;
    line-height:3em;
    input.flatpickr {
      height: 3em;
    }

    button {
      display:block;
      width:100%;
    }
  }

  #fancybox-export-csv-options {

  }

  #fancybox-export-csv-options {

  }
}

.accomodation-required,
.accomodation-required a {
  color: red !important;
}
.accomodation-pending,
.accomodation-pending a {
  color: orange !important;
}
.accomodation-booked,
.accomodation-booked a {
  color: green !important;
}

