#circularG {
  position: relative;
  width: 98px;
  height: 98px;
  margin: auto;
  top: 50%;
}

.circularG {
  position: absolute;
  background-color: rgb(0, 96, 127);
  width: 23px;
  height: 23px;
  border-radius: 15px;
  -o-border-radius: 15px;
  -ms-border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  animation-name: bounce_circularG;
  -o-animation-name: bounce_circularG;
  -ms-animation-name: bounce_circularG;
  -webkit-animation-name: bounce_circularG;
  -moz-animation-name: bounce_circularG;
  animation-duration: 0.628s;
  -o-animation-duration: 0.628s;
  -ms-animation-duration: 0.628s;
  -webkit-animation-duration: 0.628s;
  -moz-animation-duration: 0.628s;
  animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-direction: normal;
  -o-animation-direction: normal;
  -ms-animation-direction: normal;
  -webkit-animation-direction: normal;
  -moz-animation-direction: normal;
}

#circularG_1 {
  left: 0;
  top: 39px;
  animation-delay: 0.238s;
  -o-animation-delay: 0.238s;
  -ms-animation-delay: 0.238s;
  -webkit-animation-delay: 0.238s;
  -moz-animation-delay: 0.238s;
}

#circularG_2 {
  left: 10px;
  top: 10px;
  animation-delay: 0.314s;
  -o-animation-delay: 0.314s;
  -ms-animation-delay: 0.314s;
  -webkit-animation-delay: 0.314s;
  -moz-animation-delay: 0.314s;
}

#circularG_3 {
  top: 0;
  left: 39px;
  animation-delay: 0.39s;
  -o-animation-delay: 0.39s;
  -ms-animation-delay: 0.39s;
  -webkit-animation-delay: 0.39s;
  -moz-animation-delay: 0.39s;
}

#circularG_4 {
  right: 10px;
  top: 10px;
  animation-delay: 0.466s;
  -o-animation-delay: 0.466s;
  -ms-animation-delay: 0.466s;
  -webkit-animation-delay: 0.466s;
  -moz-animation-delay: 0.466s;
}

#circularG_5 {
  right: 0;
  top: 39px;
  animation-delay: 0.542s;
  -o-animation-delay: 0.542s;
  -ms-animation-delay: 0.542s;
  -webkit-animation-delay: 0.542s;
  -moz-animation-delay: 0.542s;
}

#circularG_6 {
  right: 10px;
  bottom: 10px;
  animation-delay: 0.628s;
  -o-animation-delay: 0.628s;
  -ms-animation-delay: 0.628s;
  -webkit-animation-delay: 0.628s;
  -moz-animation-delay: 0.628s;
}

#circularG_7 {
  left: 39px;
  bottom: 0;
  animation-delay: 0.704s;
  -o-animation-delay: 0.704s;
  -ms-animation-delay: 0.704s;
  -webkit-animation-delay: 0.704s;
  -moz-animation-delay: 0.704s;
}

#circularG_8 {
  left: 10px;
  bottom: 10px;
  animation-delay: 0.78s;
  -o-animation-delay: 0.78s;
  -ms-animation-delay: 0.78s;
  -webkit-animation-delay: 0.78s;
  -moz-animation-delay: 0.78s;
}

@keyframes bounce_circularG {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.3);
  }
}

@-o-keyframes bounce_circularG {
  0% {
    -o-transform: scale(1);
  }

  100% {
    -o-transform: scale(0.3);
  }
}

@-ms-keyframes bounce_circularG {
  0% {
    -ms-transform: scale(1);
  }

  100% {
    -ms-transform: scale(0.3);
  }
}

@-webkit-keyframes bounce_circularG {
  0% {
    -webkit-transform: scale(1);
  }

  100% {
    -webkit-transform: scale(0.3);
  }
}

@-moz-keyframes bounce_circularG {
  0% {
    -moz-transform: scale(1);
  }

  100% {
    -moz-transform: scale(0.3);
  }
}
