.widget-reports {
  .widget-header-blue {
    background-color: $primary !important;
    color: $light !important;
    border-color: $primary !important;
  }
}

.table .toprow {
  th {
    background: $primary !important;
  }
}

.table_top_head {
  background: $primary !important;
}
